graphs/
*.pyc
secrets.sh
blueHorseshoe.log
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
start_mongo.sh
report.txt
linting.txt
.coverage
linting_sorted.txt
src/backup/
src/historical_data/symbol_list.json
src/error_symbols.txt
src/logs/failure_analysis.csv
src/logs/test.log
src/logs/fail_script.log
.env
docker/.env
src/logs/*.log
src/logs/*.html
src/logs/*.txt
